body {
	margin: 0px;
}

header {
	padding: 10px;
	color: white;
	background-color: #44AAFF;
	font-family: sans-serif;
	font-weight: bold;
	font-size: 2em;
	text-shadow: none;
	text-align: center;
}

a {
	text-decoration: none;
}

.content {
	position: relative;
	margin-top: 8pt;
	margin-left: 8pt;
	margin-right: 8pt;
}

.ui-panelgrid table,.ui-panelgrid tr,.ui-panelgrid td {
	border-style: hidden !important;
}

#formSearch:\panelSearch {
	margin-bottom: 2ex;
}
.ui-datalist-data {
	margin-left: 1em;
}
.ui-datalist-data > dd {
	font-style: italic;
	font-size: 0.8em;
	margin-bottom: 1ex;
}

.bookTitle {
	font-weight: bold;
}

.bookAuthor {
	font-size: 0.9em;
	color: #115577;
}